:root {
  --trip-reg: "Trip Sans Reg";
  --trip-med: "Trip Sans Med";
  --trip-pink: #ff5d5d;
}

/* ----------------------- */
/* GLOBAL RULES  */
/* ----------------------- */

* {
  box-sizing: border-box;
}

/* BODY  */

body {
  font-family: var(--trip-reg);
}

/* BUTTON  */

button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px 15px 12px 15px;
  border-radius: 20px;
  font-size: 16px;
  font-family: inherit;
  outline: none;
}

/* CONTAINER */

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 10px 20px 0 20px;
}

/* ------------------------- */
/* HEADER */
/* ------------------------- */

/* Global */

header {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}
/* .header {
  position: fixed;
  background-color: white;
  margin: 0 auto;
} */
/* Logo */

header img {
  width: 188px;
  margin-right: 28px;
}

/* Input  */

header .input {
  display: flex;
  position: relative;
  flex: 1;
  width: 10vw;
}

header .input input {
  width: 300px;
  height: 38px;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  padding-left: 10%;
}
header .input i {
  position: absolute;
  top: 30%;
  left: 3%;
}

/* Nav  */

header nav {
  /* border: 2px pink solid; */
  display: flex;
  align-items: center;
}

header nav div {
  margin-right: 20px;
  padding: 10px;
}

header nav div:hover {
  cursor: pointer;
  background-color: #efefef;
  border-radius: 20px;
}

header nav span {
  padding-left: 7px;
  font-size: 16px;
}

/* ------------------------- */

/* ------------------------- */
/* MAIN */
/* ------------------------- */

/* Title  */

main h1 span {
  color: var(--trip-pink);
}

main h1 {
  margin-top: 40px;
  font-size: 54px;
  font-family: var(--trip-med);
  font-weight: 700;
}

/* Menu  */

.menu {
  display: flex;
  margin: 25px 0;
}

.menu div {
  border: 1px black solid;
  border-radius: 10px;
  padding: 14px;
  color: black;
  line-height: 20px;
  font-family: var(--trip-med);
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.menu div:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.menu div:not(:last-child) {
  margin-right: 15px;
}

.menu span {
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Picture */

.pictures {
  height: 430px;
  display: flex;
  margin-bottom: 20px;
}
.pictures .col1 {
  height: 100%;
  flex: 2;
  margin-right: 2px;
  position: relative;
}

.pictures .col2 {
  height: 100%;
  width: 480px;
}

.pictures .col1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pictures .col1 button {
  position: absolute;
  left: 3%;
  bottom: 3%;
  font-size: 12px;
}

.pictures .col2 img {
  height: calc(50% - 2px);
  width: 100%;
  object-fit: cover;
}

/* Legend  */

.legend {
  font-size: 12px;
  color: #565656;
  display: flex;
  justify-content: space-between;
}
.legend a {
  letter-spacing: 0px;
  text-decoration: none;
  color: #565656;
  margin-right: 5px;
}
.legend a:not(:first-child) {
  margin-left: 5px;
}

.legend a:hover {
  text-decoration: underline;
}

/* Description  */

.description {
  margin-top: 50px;
  /* margin-bottom: 100px; */
  display: flex;
  justify-content: space-between;
  line-height: 26px;
}

.description .col1 {
  width: 50%;
  height: auto;
}

.description .col1 h2 {
  font-family: var(--trip-med);
  font-size: 27px;
  line-height: 35px;
}

.description .col1 p {
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.description .col2 {
  display: flex;
  flex-direction: column;
  width: calc(50% - 110px);
  margin-left: 110px;
}

.description .col2 div {
  background-color: var(--trip-pink);
  padding: 35px 35px 0 35px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 55%;
}

.description .col2 div h2 {
  font-size: 31px;
  line-height: 40px;
  font-family: var(--trip-med);
  letter-spacing: 1px;
}

.description .col2 div p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 25px;
}

.description .col2 button {
  padding: 20px;
}

.description .col2 button:hover {
  opacity: 0.9;
}

.description .col2 button:focus {
  border: none;
}

.description .col2 img {
  height: 45%;
  object-fit: cover;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* Section : les immanquables */

#section1 {
  margin-top: 100px;
}

#section1 h3 {
  font-size: 28px;
  font-family: var(--trip-med);
  margin-bottom: 30px;
}

#section1 .divert {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

/* Title */

#section1 .divert .title {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  /* margin-right: 80px; */
}

#section1 .divert .title h4 {
  /* border: 1px solid black; */
  font-size: 24px;
  margin-bottom: 15px;
  /* margin-right: 80px; */
}

#section1 .divert .title span {
  font-size: 13px;
}

/* Carousel de photos */

#section1 .divert .photos {
  /* border: turquoise 1px solid; */
  display: flex;
  justify-content: space-between;
  width: 75%;
  overflow: hidden;
  overflow-x: scroll;
}

#section1 .divert .photos > div {
  width: calc(100% / 3);
}

#section1 .divert .photos > div:not(:last-child) {
  margin-right: 20px;
}

#section1 .divert .photos .background {
  position: relative;
  display: flex;
}

#section1 .divert .photos div h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: var(--trip-med);
  letter-spacing: 0.5px;
}

#section1 .divert .photos div p {
  font-size: 14.5px;
  line-height: 20px;
  margin-bottom: 2px;
}

#section1 .divert .photos div img {
  width: 266px;
}

/* Heart cercle */

#section1 .divert .photos div .background .cercle {
  height: 40px;
  width: 40px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 3%;
  right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Expertise */

#section1 .divert .photos .background .expert {
  margin: 0 auto;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #34e0a1;
  position: absolute;
  bottom: 3%;
  left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: var(--trip-med);
  padding: 2px;
}

#section1 .divert .photos .background .expert img {
  width: 25px;
}

/* ------------------------- */

/* ------------------------- */
/* FOOTER */
/* ------------------------- */

footer {
  margin-top: 50px;
  padding: 50px;
  background-color: hsl(21, 58%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: black;
}

footer img {
  width: 30px;
  margin-right: 10px;
}

/* HIDDEN  */

header .hidden {
  display: none;
}

div .hidden {
  display: none;
}

div .hidden-modal {
  display: none;
}

/* QUERIES */

@media (max-width: 1183px) {
  .menu {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }
  .menu div:nth-child(7) {
    display: inherit;
  }
  .menu div {
    min-width: calc(25% - (60px / 4));
    margin-bottom: 20px;
  }
  .menu div:not(:last-child) {
    margin-right: 0px;
  }
  .menu div:not(:nth-child(4n)) {
    margin-right: 20px;
  }
  .menu div span {
    max-width: 170px;
  }
  .pictures {
    height: 372px;
  }
  .picture .col1 {
    flex: 2;
  }
  .pictures .col2 {
    flex: 1;
  }
}

@media (max-width: 1047px) {
  .menu div span {
    max-width: 150px;
  }
  .pictures {
    height: 276px;
  }
}

@media (max-width: 1024px) {
  div .hidden {
    display: initial;
  }
  header img {
    width: 169px;
  }
  header nav span {
    display: none;
  }
  #section1 {
    margin-top: 200px;
  }
  .description {
    flex-direction: column;
    height: 372px;
  }

  .description .col1 {
    width: auto;
    margin-bottom: 50px;
  }
  .description .col2 {
    flex-direction: row;
    width: auto;
    margin-left: 0;
  }
  .description .col2 div:first-child {
    width: 50%;
    height: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    padding: 30px 30px 30px 30px;
  }
  .description .col2 img {
    width: 50%;
    height: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

@media (max-width: 767px) {
  main h1 {
    font-size: 32px;
  }

  header .container {
    /* display: flex;
    justify-content: space-between; */
    padding: 10px 30px 0 30px;
  }
  header .hidden {
    display: initial;
  }
  header img {
    width: 132px;
    text-align: center;
  }
  header .input {
    display: none;
  }
  header button {
    display: none;
  }
  header nav {
    display: none;
  }

  .menu {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
  }
  .menu > div {
    min-width: calc(100% / 3 - (60px / 4));
    width: calc(100% / 3);
  }
  .pictures {
    margin: -20px;
  }
  .pictures .col2 {
    display: none;
  }
  #section1 {
    margin-top: 300px;
  }
  #section1 .divert {
    display: block;
    justify-content: space-between;
    /* border: 1px solid black; */
  }
  #section1 .divert .photos {
    width: 100%;
  }
  #section1 .divert .photos div:not(:last-child) {
    margin-right: 30px;
  }
}
